@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


body {
    margin: 0 0;
    padding: 0 0;
}

#title {
    font-family: 'Bungee', cursive;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

ul {
    list-style: none;
    width: 70%;
    padding: 0 0;
}

.sentence {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 7px 0px;
    border: 1px solid black;
    border-radius: 5px;
}

.word-sentence {
    width: 20%;
    background-color: #14b1ab;
    padding: 5px 5px;
    text-align: center;
    color: white;
}

.definition-sentence {
    padding: 5px 20px;
    width: 100%;
    text-align: left;
}

button {
    height: 100%;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    margin: 0 0;
    padding: 5px 0px;
    width: 100%;
    background-image: linear-gradient( 112.4deg,  rgba(169,28,115,1) 21.6%, rgba(219,112,54,1) 92.2% );
    color: white;
    text-align: center;
 }

 #credit {
    font-family: 'VT323', monospace;
    text-align: center;
}